
<div class="event">
  <div class="date">
    <div class="day">Sunday</div>
    <div class="month">Oct</div>
    <div class="number">26<span class="th">th</span></div>
    <div class="time">
      <span class="start">3pm</span> to 
      <span class="end">6pm</span>
    </div>
  </div>

  <div class="location">
    Room 9-451, MIT
  </div>

  <div class="info">

    <a class="headline" href="/events/1/">
      <h3>Secret Coding Essentials for Beginners</h3>
      <h4>Basic skills that most tutorials leave out</h4>
    </a>

    <p>
    Ben Golder will lead 
    <a href="/tutorials/1/">
    a workshop on basic skills</a> for absolute beginners. 
    </p>

    <p>
A lot of coding tutorials make unspoken assumptions about what a reader already knows. This workshop aims at demystifying the hardest parts of getting started so that you are better equipped to apply what you learn in tutorials. We will cover the basics of the command line, text editors, servers, data types, and package managers. This workshop makes other workshops and tutorials easier.
    </p>

    <p>As usual, <strong> there will be snacks</strong>. </p>


