
<div class="event">
  <div class="date">
    <div class="day">Sunday</div>
    <div class="month">Nov</div>
    <div class="number">2<span class="th">nd</span></div>
    <div class="time">
      <span class="start">3pm</span> to 
      <span class="end">6pm</span>
    </div>
  </div>

  <div class="location">
    Room 9-451, MIT
  </div>

  <div class="info">

    <a class="headline" href="/events/3/">
      <h3>Make Your First Web Site</h3>
      <h4>HTML, CSS, and how websites work</h4>
    </a>

    <p>
Building on our previous workshop on 
<a href="/events/2/">secret coding essentials</a>, 
<a href="/tutorials/">this workshop</a>
will walk you through the process of building a website using HTML and CSS, and
displaying it to the world using your MIT user account. We will also briefly
discuss webhosting, Content Management Systems (like Wordpress and Drupal), web frameworks (like Django and Ruby on Rails), and how your web browser gets a webpage from a server. This workshop requires 
<a href="https://gist.github.com/bengolder/7997954">minimal command line skills</a>
and 
<a href="/editors/">a decent text editor</a>.
    </p>

    <p>As usual, <strong> there will be snacks</strong>. </p>


