
<div class="event">
  <div class="date">
    <div class="day">Sunday</div>
    <div class="month">Dec</div>
    <div class="number">14<span class="th">th</span></div>
    <div class="time">
      <span class="start">3pm</span> to 
      <span class="end">6pm</span>
    </div>
  </div>

  <div class="location">
    Room 9-450B, MIT
  </div>

  <div class="info">

    <a class="headline" href="/events/5/">
      <h3>CodeKitchen Party</h3>
      <h4>Come talk about anything</h4>
    </a>

    <p>
    CodeKitchen is finishing up a semester of workshops covering the basics of
    programming, websites, and creating visualizations from APIs. We will be
    celebrating with snacks at our usual time and place. 
    </p>

    <p>
    Please feel free to
    stop by to talk about the future of CodeKitchen, suggestions for workshops, or
    is you just want to talk about some JavaScript you've been working on,
    random CSS things, your web portfolio, ideas for the 
    <a href="http://opendatadiscourse.com/">
    Open Data Discourse challenge</a>, or initiatives 
    to gather and document data on racial
    discrimination and law enforcement accountability in the wake of Ferguson.
    </p>

    <p>
    <strong>Prerequisites for this event:</strong> A vague interest in
    CodeKitchen or the role of technology in design and governance. And a desire for snacks.
    </p>

