<div class="event">
  <div class="date">
    <div class="day">Sunday</div>
    <div class="month">Nov</div>
    <div class="number">15<span class="th">th</span></div>
    <div class="time">
      <span class="start">3pm</span> to 
      <span class="end">6pm</span>
    </div>
  </div>

  <div class="location">
    Room 9-451, MIT
  </div>

  <div class="info">

    <a class="headline" href="/events/4/">
      <h3>Make Your First Python Script</h3>
      <h4>taught by Moa Carlsson</h4>
    </a>

    <p>
Are you completely new to programming? Not to worry! This session will offer
    beginners an introduction to the Python programming language. We will cover
    basic data types, syntax, commands and operations—all with the aim to enable you to write your own simple python programs. In the second half of the session we will explore data structures with particular emphasis on the "list" data type. As you will see: understanding how to work with lists is essential for the handling of almost any data sets (big or small!) in most Python programs. No prior knowledge is necessary—looking forward to seeing you on Sunday!
    </p>
    <p>
This workshop expects you to review 
<a href="https://gist.github.com/bengolder/7997954">minimal command line skills</a>
and have
<a href="/editors/">a decent text editor</a> installed.
    </p>

    <p>As usual, <strong> there will be snacks</strong>. </p>



