<div class="event">
  <div class="date">
    <div class="day">Sunday</div>
    <div class="month">Nov</div>
    <div class="number">30<span class="th">th</span></div>
    <div class="time">
      <span class="start">3pm</span> to 
      <span class="end">6pm</span>
    </div>
  </div>

  <div class="location">
    Room 9-450B, MIT
  </div>

  <div class="info">

    <a class="headline" href="/events/5/">
      <h3>Python for 3D data visualization</h3>
      <h4>taught by Carlos Sandoval</h4>
    </a>

    <p>
    This workshop will show you how you can use Python to work with geometry
    and data. 
    <a href="http://architecture.mit.edu/student/carlos-sandoval-olascoaga">
    Carlos Sandoval</a>, a SMArchS Design + Computation student, will
    lead you through a process of building 3d visualizations based on GIS
    data, using Python along with Grasshopper and Rhino, and the 
    <a href="http://decod.es/"> Decodes geometry library</a>.</p>

    <p>
    This workshop expects you to have a very basic familiarity with Python, or
    that you've 
    <a href="https://www.dropbox.com/s/3vyvxrz1g0532h1/thinkpython.pdf?dl=1"> at least skimmed the basics in this pdf </a>. You should have
    
    <a href="http://www.rhino3d.com/download/rhino/5/latest?PageSpeed=noscript" > Rhino for Windows </a>
     installed (use the trial version if you don't
    already have it installed, the Mac OS version will not work for this
    tutorial), as well
    as the 
    <a href="http://www.rhino3d.com/download/grasshopper/1.0/wip/rc" > free Grasshopper plugin </a>. You can download 
    <a href="https://www.dropbox.com/sh/kllhluc7g4d0zo3/AADZS0rqz3OI_EIzHuRehAusa?dl=1" > the workshop materials here</a>, and 
  <a href="https://docs.google.com/presentation/d/13Bd0ENsw1CbvAWWa5tSzH7pkjq8m5-D0oECnOLeHqbk/edit?usp=sharing">
  the presentation slides can be viewed here</a>.
    </p>

    <p>As usual, <strong> there will be snacks</strong>. </p>



