
<div class="event">
  <div class="date">
    <div class="day">Sunday</div>
    <div class="month">Oct</div>
    <div class="number">5<span class="th">th</span></div>
    <div class="time">
      <span class="start">3pm</span> to 
      <span class="end">6pm</span>
    </div>
  </div>

  <div class="location">
    Room 9-451, MIT
  </div>

  <div class="info">

    <a class="headline" href="/events/1/">
      <h3>What is an API?</h3>
      <h4>Getting geolocated photos from Instagram</h4>
    </a>

    <p>
    The amazing <a href="http://wenfeixu.com/">Wenfei Xu</a>
    will teach 
    <a href="/tutorials/1/">
    a workshop on how to get photos from Instagram based on their
    location</a>. This involves learning about the Instagram API and how APIs work.
    </p>

    <p>
    If you are interested in using social media for research, privacy
    implications of social media, or using media to tell stories about
    places, this workshop will give you a lot to work with.
    </p>

    <p>As usual, <strong> there will be snacks</strong>. We have reserved an additional room for
    people who want to work on their own projects or tutorials.</p>
  </div>
</div>


