html,
body,
div,
span,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
p,
dl,
dialog,
dt,
dd,
ol,
ul,
li,
abbr,
acronym,
address,
b,
big,
blockquote,
cite,
code,
del,
dfn,
em,
i,
ins,
kbd,
pre,
q,
samp,
tt,
var,
small,
strong,
sub,
sup,
object,
iframe,
form,
fieldset,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
nav,
section,
figure,
menu,
time,
mark,
audio,
video {
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  font-style: inherit;
  vertical-align: baseline;
  white-space: normal;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}
textarea {
  font-family: inherit;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  white-space: normal;
  text-align: left;
  margin: 0;
  padding: 0;
}
article,
aside,
footer,
header,
nav,
section,
dialog,
figure,
hgroup,
menu {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
del,
ins,
a {
  text-decoration: none;
}
ol,
ul {
  list-style: none;
}
nav ul {
  list-style-type: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  background-color: transparent;
  width: auto;
  height: auto;
}
:focus {
  outline: 0;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
input {
  margin: 0;
}
/********** Deprecated and obsolete elements **********/
applet,
basefont,
dir,
font,
isindex,
menu,
s,
strike,
u {
  font-family: inherit;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  white-space: normal;
  vertical-align: baseline;
  text-decoration: inherit;
  text-align: left;
  color: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
dir,
menu {
  list-style: none;
}
nobr {
  white-space: normal;
}
blink {
  text-decoration: none;
}
marquee {
  overflow: visible;
}
.font-reset {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
.metrics-reset {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
}
.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: auto;
}
button,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  width: auto;
}
.bodyfont {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.condensed {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
}
.bold {
  font-weight: 700;
}
.semibold {
  font-weight: 600;
}
.light {
  font-weight: 300;
}
.italic {
  font-style: italic;
}
.capitalized {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.hidden {
  display: none;
}
/* weights available
300 - book
400 - normal
600 - semibold
700 - bold
800 - extra bold
*/
.text-big {
  font-size: 18px;
  line-height: 22px;
}
.text-biggish {
  font-size: 16px;
  line-height: 22px;
}
.text-base {
  font-size: 14px;
  line-height: 22px;
}
.text-small {
  font-size: 12px;
  line-height: 22px;
}
.text-tiny {
  font-size: 10px;
  line-height: 22px;
}
.text-box-base {
  font-size: 14px;
  line-height: 14px;
}
.text-box-small {
  font-size: 12px;
  line-height: 12px;
}
.text-box-tiny {
  font-size: 10px;
  line-height: 10px;
}
.small-headline {
  font-size: 22px;
  line-height: 44px;
}
.margins {
  margin-left: 14px;
  margin-right: 14px;
}
.column {
  width: 448px;
}
.column-full {
  width: 476px;
}
.column-third {
  width: 168px;
}
.column-two-thirds {
  width: 336px;
}
.column-half {
  width: 224px;
}
.column-quarter {
  width: 98px;
}
.column-eighth {
  width: 42px;
}
.type-spacer {
  background-image: url("../img/spacer.png");
}
.type-sample {
  background-image: url("../img/type_unit.png");
}
.type-grid {
  background-image: url("../img/grid-4.png");
}
.type-baselines {
  background-image: url("../img/baselines.png");
}
.type-base {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d4d;
}
.type-small {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 22px;
}
.type-big {
  font-size: 18px;
  line-height: 22px;
  margin-top: -2px;
  margin-bottom: 2px;
}
.type-biggish {
  font-size: 16px;
  line-height: 22px;
  margin-top: -1px;
  margin-bottom: 1px;
}
.label-big {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
  font-size: 22px;
  line-height: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: -4px;
  margin-bottom: 26px;
}
.label-medium {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.text-small-dense {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: book;
  margin-top: 1px;
  margin-bottom: -1px;
}
.label-small {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1px;
  margin-bottom: -1px;
  letter-spacing: 1px;
}
.label-small-gray {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1px;
  margin-bottom: -1px;
  letter-spacing: 1px;
  color: #808080;
}
.label-tiny {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
  font-size: 10px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: book;
  letter-spacing: 1px;
  margin-top: 1px;
  margin-bottom: -1px;
}
.label-tiny-bold {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
  font-size: 10px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-top: 1px;
  margin-bottom: -1px;
}
.type-base-high {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d4d;
  margin-top: -10px;
  margin-bottom: 10px;
}
.label-medium-high {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: -10px;
  margin-bottom: 10px;
}
.type-small-high {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 22px;
  margin-top: -9px;
  margin-bottom: 9px;
}
.text-small-dense-high {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
  font-size: 12px;
  line-height: 22px;
  font-weight: book;
  margin-top: 1px;
  margin-bottom: -1px;
  margin-top: -9px;
  margin-bottom: 9px;
}
.label-small-high {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1px;
  margin-bottom: -1px;
  letter-spacing: 1px;
  margin-top: -9px;
  margin-bottom: 9px;
}
.label-small-gray-high {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1px;
  margin-bottom: -1px;
  letter-spacing: 1px;
  color: #808080;
  margin-top: -9px;
  margin-bottom: 9px;
}
.label-tiny-high {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
  font-size: 10px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: book;
  letter-spacing: 1px;
  margin-top: 1px;
  margin-bottom: -1px;
  margin-top: -9px;
  margin-bottom: 9px;
}
.label-tiny-bold-high {
  font-family: "Open Sans Condensed", Impact, Arial, sans-serif;
  font-size: 10px;
  line-height: 22px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin-top: 1px;
  margin-bottom: -1px;
  margin-top: -9px;
  margin-bottom: 9px;
}
body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #4d4d4d;
  position: relative;
}
p {
  margin: 0;
  padding: 0;
  width: 448px;
  margin-left: 14px;
  margin-right: 14px;
  margin-bottom: 22px;
}
h1,
h2,
h3 {
  font-weight: 700;
  margin-left: 14px;
  margin-right: 14px;
}
h1 {
  font-size: 44px;
  line-height: 44px;
  margin-top: -1px;
  margin-bottom: 23px;
}
h2 {
  font-size: 22px;
  line-height: 22px;
  margin-top: -4px;
  margin-bottom: 26px;
}
h3 {
  font-size: 18px;
  line-height: 22px;
  margin-top: -2px;
  margin-bottom: 24px;
}
em {
  font-style: italic;
}
strong {
  font-weight: 700;
}
a {
  font-weight: 700;
  color: #145914;
}
a:hover {
  color: #1c811e;
}
