<form method="post" action="" role="form">
{% csrf_token %}
<h3>Set a new password</h3>
<p>
<strong>Note that this website is not using HTTPS encryption.</strong> This means that if
someone wanted to snoop on the website with simple hacking tools, they could
see the text that you enter on this form, including the password you enter. If
someone hacks your CodeKitchen account through this there's not much at stake,
but if you use the same password that you use on other sites, they could use
the password to hack other accounts. To be safe, please use a password that
you don't use elsewhere.
</p>
<p>I wish we could setup HTTPS encryption, but it is difficult to do so on MIT's
servers.</p>
<div class="form-group">
  {{ form.new_password1.errors }}
  <label for="id_new_password1">New Password</label>
  <input type="password" name="new_password1" class="form-control" id="id_new_password1" placeholder="Your new password">
</div>
<div class="form-group">
  {{ form.new_password2.errors }}
  <label for="id_new_password2">New Password Again (to confirm)</label>
  <input type="password" name="new_password2" class="form-control"
  id="id_new_password2" placeholder="Confirm your new password">
</div>

<button type="submit" class="btn btn-default">Change my password</button>
</form>

