
form {
    .sans;
}
label {
    .semibold;
    color: @ramp1;
}
input {
    color: @ramp2;
}

.error-message {
    padding: @vu * 0.25 @em * .5;
    margin-bottom: @vu * .25;
    background: fade(@ramp5, 40%);
    border: 1px solid @ramp5;
    color: darken(@ramp5, 30%);
    .radius(@em * 0.4);
}


