@import "colors.less";
@import "typography.less";

html {
  background-color: @back;
  font-size: 100%;
  .bodyfont;
}

html, body { margin: 0; padding: 0; }

#container { margin: 0 auto; max-width: @em * 32; padding: 1rem 1rem 5rem 1rem; }

h1, h2, h3, h4, table { .header; .clear; }

header h1 { 
    .big;
    a { .hairline; color: @text; &:hover {
            color: @ramp3;
    }}
    padding-bottom: @vu * .25;
    .trail-sep {
        color: @ramp5;
    }
}
.home {
    header h1 { .double; padding-bottom: @vu * .25; }
}
header h1 .org { .black; }

.main-nav {
    .upper; .hairline; .sans; .small;
    margin-bottom: @vu * .25;
    ul { 
        .clear;
        display: table;
        width: 100%;
        padding: 0; 
        table-layout: fixed;
        list-style-type: none;
    }
    li.nav-item {
        background-color: @text;
        border-right: 1px solid @back;
        &:hover {
            background-color: @ramp3;
        }
    }
    a { 
        display: table-cell;
        text-align: center;
        .hairline;
        color: @back;
        &:hover {
            color: @back;
        }
    }
}

p, ul { line-height: @vu; }

a { color: @link; text-decoration: none; .semibold; }
a:hover { color: @linkhover; }

section { 
  border-top: 2px solid @ramp6; 
  margin-top: @vu * 1.5; 
  padding-top: @vu * .5;
}

section:first-child {
  border: none;
  margin-top: 0;
  padding-top: 0;
}

table { border-collapse: collapse; 
  width: 100%;
}
.schedule { font-size: 1.2rem; }
.schedule tr {
  border-bottom: 1px solid @ramp7;
}
.schedule tr:last-child {
  border: none;
}
.head { color: @ramp5; font-size: 1rem; .upper; }
.note { .italic;
  font-family: @sans;
  color: @ramp3;
}
.key-info { font-weight: 600; }
td { 
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 0.6rem; 
}
.date-month { font-size: @em; .upper }
.date-number { 
    .bold;
}


