{% load static %}
<!doctype html>
<html lang="en-us">

<head>
    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    {% endblock %}
    
    <title>{% block title %}{% if pagetitle %}{{pagetitle}}{% else %}CodeKitchen - MIT SA+P{% endif %}{% endblock title %}</title>

    {% block fonts %}
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,600italic,700italic,900italic|Merriweather:400,300,700,900,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    {% endblock %}

    {% block basecss %}
    <link rel="stylesheet" href="{% static "css/style-entry.css" %}">
    {% endblock %}
    {% block css %}
    {% endblock %}
    {% block headjs %}
    {% endblock %}
</head>

{% if pageclass %}
<body class="{{pageclass}}">
{% else %}
<body>
{% endif %}
  <div id="container">

    <header>
      {% block header %}

      {% block usertag %}
      {% if user.is_authenticated %}
      <div class="usertag">
        Logged in as <span class="userlink">{{user.username}}</span>
      </div>
      {% endif %}
      {% endblock usertag %}

        {% block titleblock %}
          <h1 class="titleblock">
            <a href="{% url "home" %}">
              <span class="institution"> MIT SA+P </span>
              <span class="org"> CodeKitchen </span>
            </a>

            {% if linktrail %}
            {% for link in linktrail %}
            <span class="trail-item">
              <span class="trail-sep">/</span>
              <a href="{{link.url}}">{{link.text}}</a>
            </span>
            {% endfor %}
            {% endif %}
          </h1>
        {% endblock titleblock %}

        {% block navigation %}
          <nav class="main-nav">
            {% if navlinks %}
            <ul>
              {% for link in navlinks %}
                <a href="{{link.url}}">
                <li class="nav-item">
                  {{link.text}}
                </li></a>
              {% endfor %}
              {% endif %}
              {% if not user.is_authenticated %}
                <a href="{% url "login" %}">
                  <li class="nav-item">login</li>
                </a>
              {% else %}
                <a href="{% url "logout" %}">
                  <li class="nav-item">logout</li>
                </a>
              {% endif %}
            </ul>
          </nav>
        {% endblock navigation %}

      {% endblock header %}
    </header>

    <div id="content">
      {% block content %}
      <h2>Placeholder</h2>
      {% endblock content %}
    </div> <!--end #content-->

  </div><!--end #container-->
  {% block jsfiles %}
  <script src="{% static "js/main-script.js" %}"></script>
  {% endblock jsfiles %}
</body>

</html>
