{% extends "home.html" %}
{% load static %}

{% block content %}

<p>This page is intended to be used to test form styling and interaction.</p>

<ul>
  <li>  <input type="checkbox"> buttons </li>
  <li>  <input type="checkbox"> check boxes </li>
  <li>  <input type="checkbox"> switches </li>
  <li>  <input type="checkbox"> email </li>
  <li>  <input type="checkbox"> text </li>
  <li>  <input type="checkbox"> password </li>
  <li>  <input type="checkbox"> help text </li>
  <li>  <input type="checkbox"> blog composing </li>
  <li>  <input type="checkbox"> inline code </li>
  <li>  <input type="checkbox"> code snippets </li>
  <li>  <input type="checkbox"> add event form </li>
  <li>  <input type="checkbox"> event timing selector </li>
  <li>  <input type="checkbox"> voting buttons </li>
  <li>  <input type="checkbox"> bookmarking stars </li>
  <li>  <input type="checkbox"> commenting form </li>
  <li>  <input type="checkbox"> file upload </li>
  <li>  <input type="checkbox"> tag field (with autocomplete) </li>
</ul>






{% endblock content %}
