
{% extends "home.html" %}

{% block content %}

<h1>
  Text Editors: Essential for coding
</h1>

<p>
Code is special kind of text. Coding is writing. To write code, you need something made for editing many
different types of text files.
</p>

<p>A text editor is a type of
    software used for editing text. TextEdit and Notepad are examples of very
    simple text editors that come pre-installed on most computers. 
    Install something better. Here are some recommended
    text editors for beginners:</p>
<ul>
<li><a href="https://www.sublimetext.com/buy">Sublime Text</a>. SublimeText is an excellent text editor for
    beginners. It is free to try, and it will never force you to pay the $70
    price. Windows, Mac, or Linux.</li>
<li><a href="https://atom.io/">Atom</a>. Atom is an extendable text editor created by
    GitHub. It is free, open source, and available for Mac and Windows.</li>
<li><a href="http://notepad-plus-plus.org/">Notepad++</a>. Notepad++ is a general use
    text editor for Windows only.</li>
  <li>
  <a href="http://brackets.io/?lang=en">Brackets</a> is made for web programming and is easy to learn.
  </li>


</ul>

{% endblock content %}
