<header>
  {% block header %}

    {% block titleblock %}
      <h1 class="titleblock">
        <a href="{% url "home" %}">
          <span class="institution"> MIT SA+P </span>
          <span class="org"> CodeKitchen </span>
        </a>

        {% if linktrail %}
        {% for link in linktrail %}
        <span class="trail-item">
          <span class="trail-sep">/</span>
          <a href="{{link.url}}">{{link.text}}</a>
        </span>
        {% endfor %}
        {% endif %}
      </h1>
    {% endblock titleblock %}

    {% block navigation %}
      <nav class="main-nav">
        {% if navlinks %}
        <ul>
          {% for link in navlinks %}
            <a href="{{link.url}}">
            <li class="nav-item">
              {{link.text}}
            </li></a>
          {% endfor %}
          {% endif %}
          {% if not user.is_authenticated %}
            <a href="{% url "login" %}">
              <li class="nav-item">login</li>
            </a>
          {% else %}
            <a href="{% url "logout" %}">
              <li class="nav-item">logout</li>
            </a>
          {% endif %}
        </ul>
      </nav>
    {% endblock navigation %}

  {% endblock header %}
</header>
