{% extends "base.html" %}

{% block content %}

<section id="about">

<p>
CodeKitchen is a student group at 
<a href="http://mit.edu/" target="_blank" >MIT</a>'s 
<a href="http://sap.mit.edu/" target="_blank" >School of Architecture and Planning</a>
. Our mission is to improve code literacy in architecture and planning. We do this in three ways: informal tutoring sessions, invited lectures, and an online catalogue of resources.
</p>

<p>
Every other week, our “<a href="#kitchens">Kitchens</a>” provide an informal, beginner-friendly tutoring lab where students cook up projects and discussions. We encourage students to learn through teaching and to seek out help from their peers. We believe that everyone can be both a beginner and a teacher. Kitchens are preceded by lectures designed to spark debate about the role of software and technical expertise in architecture and planning.
</p>

<p>
In addition to tutoring and lectures, we curate an online catalogue of events, workshops, tutorials, online courses, articles, and fellowships related to the rapidly changing use of digital tools in architecture and planning.
</p>

        <p>
        Please join our mailing list for updates on our 
        activities for the 2014-2015 academic year. 
        <a href="mailto:bgolder@mit.edu?subject=please add me to the codekitchen mailing list&body=Hi, I'd like to be added to the codekitchen mailing list. Thanks!">
          Email us and we'll add you to the
          mailing list.</a>
        </p>
</section>

        {% include "schedule.html" %}

        <section id="contact">

        <h2>We want to hear from you</h2>

        <p>
        If you're interested in any way, or you have feedback, questions, or
        criticisms, we'd love to hear from you. If you'd
        like to join our mailing list, just let us know with a quick email:
        <br>

          <a href="mailto:afb@mit.edu"> 
            <i class="fa fa-envelope-o fa-lg"></i>
            Allegra</a>,
          <a href="mailto:svpatel@mit.edu"> 
            <i class="fa fa-envelope-o fa-lg"></i>
            Sayjel</a>,
          <a href="mailto:bgolder@mit.edu">
            <i class="fa fa-envelope-o fa-lg"></i>
            Ben</a>
        </p>
        
        </section>

  
{% endblock content %}
