{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
<title>
  {% block pagetitle %}
  MIT SA+P Code Kitchen
  {% endblock %}
</title>
    <link rel="stylesheet" href="{% static "css/codekitchen.css" %}" type="text/css">
</head>
<body>

<div id="container">
  <div id="menu">
    {% block menu %}
      This might be nice as a menu
    {% endblock %}
  </div>
  <div id="content">
    {% block content %}
    <ul class="sessions">
      {% for session in sessions %}
      {% include "session_list-style.html" %}
      {% endfor %}
    </ul>
    <ul class="memberlist">
      All the members!
    {% for member in members %}
      {% include "member_profile.html" %}
    {% endfor %}
    </ul>
    {% endblock %}
    <!--end container-->
  </div>
</div>

</body>
</html>



