<section id="schedule">

  <h2 id="kitchens">CodeKitchen Schedule</h2>

  <p class="note">
      All meetings are on
  <span class="key-info"> Sunday 3-6 p.m.  </span>
      in room 
  <span class="key-info"> 9-451 </span>
      unless otherwise noted.
  </p>

  <p class="caption">
      Below is our schedule of planned meetings for the Fall 2014 semester.
      This schedule will be changed often as we confirm speakers or other events.
  </p>

  <table class="schedule">

      <tr class="head">
        <td>Date</td>
        <td>Event</td>
      </tr>

    <tr>
      <td>
        <span class="date-month">Sep</span>
        <span class="date-number"> 21</span>
      </td>
      <td> Launch Day!!!
      </td>
</tr>

<tr>
  <td>
    <span class="date-month">Oct</span>
    <span class="date-number"> 5</span>
  </td>
  <td> 
    <a href="/events/1/">
    What is an API? 
    <em>
    by Wenfei Xu
    </em>
    </td>
    </a>
</tr>

<tr>
  <td>
    <span class="date-month">Oct</span>
    <span class="date-number">26</span>
  </td>
  <td> 
    <a href="/events/2/">
    Secret Coding Essentials for Beginners
    </a>
  </td>
</tr>

<tr>
  <td>
    <span class="date-month">Nov</span>
    <span class="date-number"> 2</span>
  </td>
  <td> 
    <a href="/events/3/">
    Make Your First Website
    </a>
  </td>
</tr>

<tr>
  <td>
    <span class="date-month">Nov</span>
    <span class="date-number"> 16</span>
  </td>
  <td> 
    <a href="/events/4/">
        Make a Simple Python Script
    </a>
  </td>
</tr>

<tr>
  <td>
    <span class="date-month">Nov</span>
    <span class="date-number"> 30</span>
  </td>
  <td> 
    <a href="/events/5/">
        How to Put Python in Your Project
    </a>
  </td>
</tr>

<tr>
  <td>
    
    <span class="date-month">Dec</span>
    <span class="date-number"> 14</span>
  </td>
  <td> 
    <a href="/events/6/">
        End-of-Semester Party
    </a>
  </td>
</tr>


  </table>
  


</section>
