<h1>What is an API?</h1>
<p><em>Getting geolocated photos from Instagram</em></p>
<h3>Necessary Preparation</h3>
<ol>

<li>
  <p>
    <a href="/editors/">
      Install a text editor.
    </a>
  </p>
</li>

<li>
<p><a href="https://gist.github.com/bengolder/7997954">Skim this tutorial on basic command line commands</a>. Then open your
command line (called "Terminal" on Mac and Linux)and get a basic familarity with your command line.
    Get comfortable. This is your new tool. </p>
</li>
<li>
<p><a href="https://www.dropbox.com/s/lq70ilrzndiveqc/Code%20Kitchen.zip?dl=1">Download the required files for this workshop and put them in a folder</a>.</p>
<p>This folder should contain the following files:</p>
<pre><code>folder/
    # a Python file
    getstuff.py

    # a bunch of json files
    beyonce_feed.json
    bylocation_cambbridge.json
    hashtag_harvard.json
    locationsearch_cam.json
    namesearch_beyonce.json

    # a folder with images
    beyonce_feed.json_images/
        0.jpg
        1.jpg
        2.jpg
        ...
        9.jpg
</code></pre>
</li>
</ol>
<h3>When you have everything ready</h3>
