<h1>What is a API?</h1>
<p>Getting geolocated photos frmo Instagram</p>
<h3>Necessary Preparation</h3>
<ol>
<li>
<p>Make sure you have a text editor installed. A text editor is a type of
    software used for editing text. TextEdit and Notepad are examples of very
    simple text editors that come pre-installed on most computers. 
    Install something better. Here are some recommended
    text editors for beginners:</p>
<ul>
<li><a href="https://www.sublimetext.com/buy">Sublime Text</a>. SublimeText is an excellent text editor for
    beginners. It is free to try, and it will never force you to pay the $70
    price. Windows, Mac, or Linux.</li>
<li><a href="https://atom.io/">Atom</a>. Atom is an extendable text editor created by
    GitHub. It is free, open source, and available for Mac and Windows.</li>
<li><a href="http://notepad-plus-plus.org/">Notepad++</a>. Notepad++ is a general use
    text editor for Windows only.</li>
</ul>
</li>
<li>
<p><a href="https://gist.github.com/bengolder/7997954">Skim this tutorial on basic command line commands</a>. Then open your
command line (called "Terminal" on Mac and Linux)and get a basic familarity with your command line.
    Get comfortable. This is your new tool. </p>
</li>
<li>
<p><a href="https://www.dropbox.com/sh/1e0b70v8x5og3e8/AADITKN5XGyxxmsaXx0qt0y3a?dl=0">Download the required files for this workshop and put them in a folder</a>.</p>
<p>This folder should contain the following files:</p>
<pre><code>folder/
    # a Python file
    getstuff.py

    # a bunch of json files
    beyonce_feed.json
    bylocation_cambbridge.json
    hashtag_harvard.json
    locationsearch_cam.json
    namesearch_beyonce.json

    # a folder with images
    beyonce_feed.json_images/
        0.jpg
        1.jpg
        2.jpg
        ...
        9.jpg
</code></pre>
</li>
</ol>
<h3>When you have everything ready</h3>
